---
import { Image } from 'astro:assets'
import postCardImage from '@/assets/images/bahiaBlanca_portada_home.jpg'
import MapPin from '@/assets/svg/map-pin.svg'

interface Props {
	title: string
	description: string
	category: string
	location: string
}

const { title, description, category, location } = Astro.props

const iconSize = 20
---

<article class='shadow-lg bg-white w-[477px] 2xl:w-[577px] relative'>
	<span
		class='absolute right-0 uppercase w-[160px] text-white bg-primary/80 text-tags font-medium flex justify-center py-2 gap-2 items-center rounded-bl-3xl'
	>
		<MapPin width={iconSize} height={iconSize} />
		{location}</span
	>
	<Image src={postCardImage} alt='' class='w-full h-[232px] 2xl:h-[332px]' />
	<div class='p-5'>
		<span class='uppercase text-tags font-medium text-secondary'
			>{category}</span
		>
		<h3 class='text-h3 font-semibold'>{title}</h3>
		<p class='text-p text-[#555555] mt-4'>{description}</p>
		<div class='w-full flex justify-center mt-6'>
			<a
				href='#'
				class='w-[162px] text-primary font-semibold border-b border-primary inline-block text-center py-2'
				>Leer más</a
			>
		</div>
	</div>
</article>
